<!-- 
  File: Component_HeadSetup.html
  Description: Centralizes head configuration. 
-->

<base target="_top">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- 
  TAILWIND CSS (INLINE BUILD)
  O arquivo 'Taiwind_CSS' é gerado automaticamente pelo build.js
  a partir do 'output.css'. Não edite ele manualmente.
-->

<?!= include('Tailwind_CSS'); ?>